body {
  display: flex;
  justify-content: center;
}
.selector {
  width: 50vh;
  text-align: center;
}

.selector-input {
  width: 80%;
  height: 32px;
}
.select-add-btn {
  width: 18%;
  height: 40px;
}

.select-box {
  width: 50vh;
  height: 40px;
  border: 1px solid;
  display: flex;
  background-color: beige;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.custom-selector-select-item {
  width: 80%;
  height: 80%;
  background-color: white;
}
.custom-selector-select-arrow {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
}
.custom-selector-select-arrow .arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid #00000000;
  border-right: 10px solid #00000000;
  border-bottom: 10px solid lightslategrey;
  margin: 0 auto;
}

.select-item-box {
  width: 50vh;
  height: auto;
  margin-top: 10px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  max-height: 600px;
}
.select-item-box .select-item {
  list-style: none;
  border: 1px solid;
  height: 40px;
}

.select-item-box.hide {
  max-height: 0px;
}
